
html {
    height: 950px;
}
body {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.curriculum {
    align-self: center;
    justify-content: center;
    min-height: 842px;
    min-width: 595px;
    height: 842px;
    width: 595px;
    margin-top: 60px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    box-shadow: -15px 14px 15px 1px rgba(0, 0, 0, 0.2);
    
}
section {
    padding-left: 30px;
}
#titulo {
   padding-top: 30px;   
}
#Foto {
    align-self:flex-end;
    justify-self:end;
}


